body {
    width: 100%;
}

#procedimento_chosen a {
    width: 300px !important;
}
.content {
    overflow-x: hidden;
}

.btnsend {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: auto;
    width: auto;
}